<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include Bootswatch Cosmo theme -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cosmo/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/adminProducts.css" rel="stylesheet">
    <link href="/css/Overlay.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">E-Com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item <%= activePage === 'home' ? 'active' : '' %>">
                    <a class="nav-link" href="/shop">Home</a>
                </li>    
            <%if(isLoggedIn===true){%>
                    <li class="nav-item <%= activePage === 'cart' ? 'active' : '' %>">
                        <a class="nav-link" href="/shop/cart"><i class="fa-solid fa-cart-shopping fa-bounce" style="color: #e1e3d7;"></i></a>
                    </li>
                    <li class="nav-item <%= activePage === 'orders' ? 'active' : '' %>">
                        <a class="nav-link" href="/shop/orders">Orders</a>
                    </li>                    
                    <%if(IsSeller==true){%>
                        <li class="nav-item <%= activePage === 'orders' ? 'active' : '' %>">
                            <a class="nav-link" href="/shop/admin"><%=UserName%> Page</a>
                        </li>                        
                        <li class="nav-item <%= activePage === 'orders' ? 'active' : '' %>">
                            <a class="nav-link" href="/shop/admin/warehouses">Warehouses</a>
                        </li>                        
                        <%}%>
                <%}else{%>
                    <li class="nav-item <%= activePage === 'signIn' ? 'active' : '' %>">
                        <a class="nav-link" href="/shop/users/signIn">Sign In</a>
                    </li>                    
                    <li class="nav-item <%= activePage === 'signUp' ? 'active' : '' %>">
                        <a class="nav-link" href="/shop/users/signUp">Sign Up</a>
                    </li>                    
                <%}%>

                <%if(isLoggedIn===true){%>
                    <li class="nav-item <%= activePage === 'signOut' ? 'active' : '' %>">
                    <form method="post" action="/shop/users/signOut">
                        <button class="nav-link" type="submit"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #e8ec09;"></i></button>
                    </form>
                </li>
                <%}%>
            </ul>
        </div>
    </nav>
    <div id="Overlay">

    </div>
    <div id="alerts" style="position: fixed;top: 10px;right: 3%;">
        <%if(message){%>
            <%if(isSuccess){%>
                <div class="alert alert-success" role="alert">
                    <%=message%>
                </div>
            <%}else{%>
                <div class="alert alert-danger" role="alert">
                    <%=message%>
                </div>
            <%}%>        
        <%}%>
    </div>
    </div>
    <main>
        <div class="container">
            <div class="row">
            <%if(products && products.length>0){%>
                <% products.forEach(function(product) { %>
                    <div class="col-md-4 mb-4" id="product<%=product.Id%>">
                        <div class="card">
                            <div class="product-image">
                                <img src="<%= product.ImageUrl %>" class="card-img-top" alt="<%= product.Name %>">
                                <% if (product.AvailabileQuantity === 0) { %>
                                    <div class="product-out-of-stock">Out of Stock</div>
                                <% } %>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><%= product.Name %></h5>
                                <p class="card-text"><%= product.Description %></p>
                                <p class="card-text"><strong>Category:</strong> <%= product.Category %></p>
                                <p class="card-text"><strong>Subcategory:</strong> <%= product.SubCategory %></p>
                                <p class="card-text"><strong>Manufactured By:</strong> <%= product.ManufacturedBy %></p>
                                <p class="card-text"><strong>Manufactured On:</strong> <%= product.ManufacturedOn %></p>
                                <p class="card-text">
                                    <strong>InStock Quantity:</strong>
                                    <span class="<%= product.AvailabileQuantity == 0 ? 'text-danger' : 'bounce' %>">
                                        <%= product.AvailabileQuantity %>
                                    </span>
                                </p>
                                <div class="btn-group" role="group">
                                    <a href="/admin/edit/<%= product.Id %>" class="btn btn-primary">Edit</a>
                                    <button href="/admin/delete/<%= product.Id %>" class="btn btn-danger" onclick="onDelete('<%= product.Id %>')">Delete</button>
                                    <!-- Add an Update button or link as needed -->
                                </div>
                            </div>
                        </div>
                    </div>
                <% })}else{%>
                        <p class="mb-2 pb-3 pt-3 bg-primary text-white text-center" style="font-size: larger;font-weight: bolder;border-radius: 5px;">Your Products Catalouge is empty.</p>
                    <% } %>
            
            </div>
        </div>
                <input hidden id="UserName" value="<%=UserName%>"/>
        <input hidden id="Password" value="<%=Password%>"/>
    </main>        
<script>
                const getAuthToken = ()=>
        {
            console.log(JSON.stringify({
                "UserName":`${document.getElementById('UserName').value}`,
                "Password":`${document.getElementById('Password').value}`
            }))
            if(!document.getElementById('UserName').value || !document.getElementById('Password').value )
            {
                window.location.href = '/shop/users/signIn';
                throw new Error('Need to be authenticated')
            }
            return fetch('http://localhost:8003/auth/generateToken',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({
                "UserName":`${document.getElementById('UserName').value}`,
                "Password":`${document.getElementById('Password').value}`
            })})
            .then(result=>
            {
                console.log(result)
                return result.json()
            })
            .then(result=>
            {
                console.log(result)
                return result.result.Token
            })
            .catch(err=>
            {
                console.log(err.message)
            })
        
        }
        function addToCart(productId)
        {
            const url = `http://localhost:8003/cart/${productId}?quantity=1`
            getAuthToken()
            .then(authToken=>{
                fetch(url,{
                method:'post',
                headers:{
                    "Authorization":`Bearer ${authToken}`
                }
            }).then(result=>
            {
                console.log(result)
                return result.json()
            })
            .then(result=>
            {
                //for dynamically change the product page
                const product = document.getElementById(productId)
                const quantityElement = document.getElementById(`${productId}AvailableQuantity`)
                let quantity = +quantityElement.textContent
                console.log('change',quantityElement)
                if(quantity>1)
                {
                    quantityElement.textContent = quantity - 1
                }
                else
                {
                    document.getElementById(productId).remove()
                }
                console.log('final ',result)
            })
            .catch(err=>
            {
                console.log(err)
            })
            })
        }
        const onDelete = function(productId)
        {
            const overlayElement = document.getElementById('Overlay')
            if(!productId) throw new Error(`invalid request, product id is missing`)
            console.log('onDelete',productId)
            const url = `http://localhost:8003/products/${productId}`
            getAuthToken()
            .then(authToken=>
            {
                fetch(url,{
                method:'get',
                headers:{
                    "Authorization":`Bearer ${authToken}`
                }
                })
                .then(result=>result.json())
                .then(productResult=>
                {
                    if(!productResult) throw new Error(`No product found with Id:${productId}`)
                    console.log('productResult',productResult)
                    const product = productResult.result[0]
                    overlayElement.innerHTML = `<div class="Overlay active">
            <button class="CloseButton" onClick="onClose()">
              Close
            </button>
            <div class="displayData">
                <div class="ocontainer">
        <div class="h5 text-secondary p2">Are you sure want to remove this product?</div>
        <div class="oproduct">
            <div class="oproduct-image">
                <img src="${product.ImageUrl}" alt="Product 6">
            </div>
            <div class="oproduct-details">
                <h2>${product.Name}</h2>
                <p><strong>Description:</strong> <span class="form-control text-muted 	--bs-secondary-bg" style="border-radius:5px; width:auto;height:70px;overflow-y:auto" type="textbox">${product.Description}</span></p>
                <p><strong>Cost:</strong> $${product.Cost}</p>
                <p><strong>Category:</strong> ${product.Category}</p>
                <p><strong>Subcategory:</strong> ${product.Subcategory}</p>
                <p><strong>Manufactured On:</strong> ${product.ManufacturedOn}</p>
                <p><strong>Manufactured By:</strong> ${product.ManufacturedBy}</p>
                <p><strong>Available Quantity:</strong> ${product.AvailabileQuantity}</p>
                <button class="btn btn-outline-danger remove-button" onClick="onProductRemove('${productId}')">Yes, Remove</button>
                <button class="btn btn-outline-warning" onClick="onClose()">Go Back</button>
            </div>
        </div>
    </div>
            </div>`
                })
                .catch(err=>console.log(err.message))
            })
            .catch(err=>
            {
                console.log(err.message)
            })
        }
        const onClose = function()
        {
            const overlayElement = document.getElementsByClassName('Overlay active')[0]
            overlayElement.remove()
        } 
        const onProductRemove = function(productId)
        {
            const overlayElement = document.getElementsByClassName('Overlay active')[0]
            const url = `http://localhost:8003/products/${productId}`
            getAuthToken()
            .then(authToken=>
            {
                fetch(url,{
                method:'delete',
                headers:{
                    "Authorization":`Bearer ${authToken}`
                }
                })
                .then(result=>result.json())
                .then(result=>
                {
                    document.getElementById(`product${productId}`).remove()
                    overlayElement.remove()
                })
                .catch(err=>console.log(err.message))
            })
            .catch(err=>console.log(err.message))
        }
        const clearAlerts = function()
        {
            document.querySelectorAll('.alert').forEach(alertElement=>
            {
            setTimeout(()=>
            {
                document.getElementsByClassName(alertElement.className)[0].remove()
            },2000)
            })
        }
        clearAlerts()
    </script>
</body>
</html>
