<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include Bootswatch Cosmo theme -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cosmo/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/css/cartStyles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">E-Com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item <%= activePage === 'home' ? 'active' : '' %>">
                        <a class="nav-link" href="/">Home</a>
                    </li>    
                <%if(isLoggedIn===true){%>
                        <li class="nav-item <%= activePage === 'cart' ? 'active' : '' %>">
                            <a class="nav-link" href="/shop/cart"><i class="fa-solid fa-cart-shopping fa-bounce" style="color: #e1e3d7;"></i></a>
                        </li>
                        <li class="nav-item <%= activePage === 'orders' ? 'active' : '' %>">
                            <a class="nav-link" href="/shop/orders">Orders</a>
                        </li>
                        <%if(IsSeller==true){%>
                            <li class="nav-item <%= activePage === 'orders' ? 'active' : '' %>">
                                <a class="nav-link" href="/admin"><%=UserName%> Page</a>
                            </li>                        
                        <%}%>
                <%}else{%>
                        <li class="nav-item <%= activePage === 'signIn' ? 'active' : '' %>">
                            <a class="nav-link" href="/shop/users/signIn">Sign In</a>
                        </li>                    
                        <li class="nav-item <%= activePage === 'signUp' ? 'active' : '' %>">
                            <a class="nav-link" href="/shop/users/signUp">Sign Up</a>
                        </li>                    
                    <%}%>
    
                    <%if(isLoggedIn===true){%>
                        <li class="nav-item <%= activePage === 'signOut' ? 'active' : '' %>">
                        <form method="post" action="/shop/users/signOut">
                            <button class="nav-link" type="submit"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #e8ec09;"></i></button>
                        </form>
                    </li>
                    <%}%>
                </ul>
            </div>
        </nav>
    </header>
    <div id="alerts" style="position: fixed;top: 10px;right: 3%;">
        <%if(message){%>
            <%if(isSuccess){%>
                <div class="alert alert-success" role="alert">
                    <%=message%>
                </div>
            <%}else{%>
                <div class="alert alert-danger" role="alert">
                    <%=message%>
                </div>
            <%}%>        
        <%}%>
    </div>
    <section class="basket">
        <% if (cart.Products && cart.Products.length > 0) { %>
            <div id="ProductTable">
                <table>
                    <tr class="border-bottom border-5 border-light-subtle">
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                    <% cart.Products.forEach(product => { %>
                        <tr class="productsRow <%=(product.IsAvailableInStock!==true)?'not-available':''%>" >
                            <td>
                                <% if (product.IsAvailableInStock !== true) { %>
                                    <div class="product-out-of-stock">Product Unavailable</div>
                                <% } %>
                                <img src="<%= product.ImageUrl %>" alt="<%= product.Name %>" />
                                <h3><%= product.Name %></h3>
                                <p><%= product.Description %></p>
                            </td>
                            <td id="<%= product.Id %>productCost">$<%= product.Cost %></td>
                            <td class="productManuplation">
                                <button class="quantity-button " onclick="decrementQuantity('<%= product.Id %>')">-</button>
                                <span id="<%= product.Id %>Quantity"><%= product.Quantity %></span>
                                <button class="quantity-button " onclick="incrementQuantity('<%= product.Id %>')">+</button>
                            </td>
                            <td id="<%= product.Id %>ProductTotal">$<%= product.Cost * product.Quantity %></td>
                            <td>
                                <button class="btn btn-danger" onclick="removeProduct('<%= product.Id %>')">Remove</button>
                            </td>
                        </tr>
                    <% }); %>
                </table>
                <hr>
                <p class="h4 text-muted">Total Cost: $<span id="GrandTotal" class="h4 text-danger"><%= cart.TotalCost %></span></p>
                <hr>
                <div style="display: flex; flex-direction: row; align-items: center;justify-content: space-around;">
                    <form action="/shop/cart/placeOrder" method="post" id="cartForm">
                        <!-- <button class="btn btn-outline-success"   id="CheckOut" type="submit">Check Out</button> -->
                        <%if(cart.IsAvailableforCheckOut===true){%>
                            <button class="btn border-1 bg-dark text-white" disabled  id="CheckOut" type="submit">Check Out</button>
                        <%}else
                        {%>
                            <button class="btn btn-outline-success"   id="CheckOut" type="submit">Check Out</button>
                        <%}%>
                    </form>
                    <button class="btn btn-outline-danger" onclick="clearCart()">Clear Cart</button>
                </div>
            </div>
        <% } else { %>
            <p class="mb-2 pb-3 pt-3 bg-primary text-white text-center" style="font-size: larger;font-weight: bolder;border-radius: 5px;">Your basket is empty.</p>
        <% } %>
    </section>
    <footer>
        <input hidden id="UserName" value="<%=UserName%>"/>
        <input hidden id="Password" value="<%=Password%>"/>
    </footer>
    <script>
        const getAuthToken = ()=>
        {
            console.log(JSON.stringify({
                "UserName":`${document.getElementById('UserName')}`,
                "Password":`${document.getElementById('Password')}`
            }))
            if(!document.getElementById('UserName').value || !document.getElementById('Password').value ) throw new Error('Need to be authenticated')

            return fetch('http://localhost:8003/auth/generateToken',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({
                "UserName":`${document.getElementById('UserName').value}`,
                "Password":`${document.getElementById('Password').value}`
            })})
            .then(result=>
            {
                console.log(result)
                return result.json()
            })
            .then(result=>
            {
                console.log(result)
                return result.result.Token
            })
            .catch(err=>
            {
                console.log(err.message)
            })
        
        }
        function addToCart(productId)
        {
            const url = `http://localhost:8003/cart/${productId}?quantity=1`
            getAuthToken()
            .then(authToken=>
            {
                return fetch(url,{
                method:'post',
                headers:{
                    "Authorization":`Bearer ${authToken}`
                }
            }).then(result=>
            {
                console.log(result)
                return result.json()
            })
            .then(result=>
            {
                console.log('final ',result)
            })
            .catch(err=>
            {
                console.log(err)
            })
            })
        }
        function removeFromCart(productId,quantity=1)
        {
            const url = `http://localhost:8003/cart/${productId}?quantity=${quantity}`
            getAuthToken()
            .then(authToken=>
            {
                return fetch(url,{
                method:'delete',
                headers:{
                    "Authorization":`Bearer ${authToken}`
                }
            }).then(result=>
            {
                console.log(result)
                return result.json()
            })
            .then(result=>
            {
                console.log('final ',result)
            })
            .catch(err=>
            {
                console.log(err)
            })
            })
        }
        function clearCart()
        {
            const url = `http://localhost:8003/cart`
            getAuthToken()
            .then(authToken=>
            {
                return fetch(url,{
                method:'delete',
                headers:{
                    "Authorization":`Bearer ${authToken}`
                }
            }).then(result=>
            {
                console.log(result)
                return result.json()
            })
            .then(result=>
            {
                console.log('final ',result)
                document.getElementById('ProductTable').remove()
                document.getElementsByClassName('basket')[0].innerHTML = `<p class="mb-2 pb-3 pt-3 bg-primary text-white text-center" style="font-size: larger;font-weight: bolder;border-radius: 5px;">Your basket is empty.</p>`
            })
            .catch(err=>
            {
                console.log(err)
            })
            })
        }
        function incrementQuantity(productId) {
            const costElement = document.getElementById(productId+'productCost')
            const quantityElement = document.getElementById(productId + 'Quantity');
            const productTotalElement = document.getElementById(productId + 'ProductTotal');
            const grandTotalElement = document.getElementById('GrandTotal')
            const QuantityToBeAdded = 1

            const currentQuantity = parseInt(quantityElement.textContent);
            quantityElement.textContent = currentQuantity + QuantityToBeAdded;

            productTotalElement.textContent = '$' +parseInt((QuantityToBeAdded * parseInt(costElement.textContent.substring(1))) + parseInt(productTotalElement.textContent.substring(1)))

            grandTotalElement.textContent =  parseInt((QuantityToBeAdded * parseInt(costElement.textContent.substring(1))) + parseInt(grandTotalElement.textContent))
            
            addToCart(productId)
        }
        
        function decrementQuantity(productId) {
            const costElement = document.getElementById(productId+'productCost')
            const quantityElement = document.getElementById(productId + 'Quantity');
            const productTotalElement = document.getElementById(productId + 'ProductTotal');
            const grandTotalElement = document.getElementById('GrandTotal')
            const QuantityToBeRemoved = 1

            grandTotalElement.textContent =  parseInt(parseInt(grandTotalElement.textContent) - (QuantityToBeRemoved * parseInt(costElement.textContent.substring(1))))

            
            const currentQuantity = parseInt(quantityElement.textContent);
            removeFromCart(productId)
            if (currentQuantity > 1) {
                quantityElement.textContent = currentQuantity - QuantityToBeRemoved;
                productTotalElement.textContent = '$' +parseInt(parseInt(productTotalElement.textContent.substring(1)) - (QuantityToBeRemoved * parseInt(costElement.textContent.substring(1))))
            }
            else
            {
                quantityElement.parentNode.parentNode.remove()
            }
            if(+document.querySelectorAll('table tr').length==1)
            {
                document.getElementById('ProductTable').remove()
                document.getElementsByClassName('basket')[0].innerHTML = `<p class="mb-2 pb-3 pt-3 bg-primary text-white text-center" style="font-size: larger;font-weight: bolder;border-radius: 5px;">Your basket is empty.</p>`
            }
        }
        
        function removeProduct(productId) {
            const costElement = document.getElementById(productId+'productCost')
            const quantityElement = document.getElementById(productId + 'Quantity');
            const grandTotalElement = document.getElementById('GrandTotal')
            const ProductTable = document.getElementById('ProductTable')
            grandTotalElement.textContent =  parseInt(parseInt(grandTotalElement.textContent) - (+quantityElement.textContent * parseInt(costElement.textContent.substring(1))))
            quantityElement.parentNode.parentNode.remove()
            if(+document.querySelectorAll('table tr').length==1)
            {
                document.getElementById('ProductTable').remove()
                document.getElementsByClassName('basket')[0].innerHTML = `<p class="mb-2 pb-3 pt-3 bg-info text-warning text-center" style="font-size: large;font-weight: bolder;border-radius: 5px;">Your basket is empty.</p>`
            }
            removeFromCart(productId,+quantityElement.textContent)
        }
        // function CheckOut()
        // {
        //     const url = `http://localhost:8003/orders`
        //     getAuthToken()
        //     .then(authToken=>
        //     {
        //         console.log('auth',authToken)
        //         return fetch(url,{
        //         method:'post',
        //         headers:{
        //             "Authorization":`Bearer ${authToken}`
        //         }
        //     }).then(result=>
        //     {
        //         console.log(result)
        //         return result.json()
        //     })
        //     .then(result=>
        //     {
        //         console.log('final ',result)
        //     })
        //     .catch(err=>
        //     {
        //         console.log(err)
        //     })
        //     })
        // }
        const clearAlerts = function()
        {
            document.querySelectorAll('.alert').forEach(alertElement=>
            {
            setTimeout(()=>
            {
                document.getElementsByClassName(alertElement.className)[0].remove()
            },2000)
            })
        }
        clearAlerts()
    </script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
    </script>
</body>
</html>
